.bg-img{
    position: fixed;
    left: -3px;
}

.title-top{
    padding-top: 5%;
}

@media only screen and (max-width: 330px) {
    .bg-img{
        height: 245px;
    }
}

@media only screen and (max-width: 450px) {
    .bg-img{
        height: 225px;
    }
}