
<div class="container-fluid content-bg vh-100">
    <img src="assets/Pattern.svg" class="bg-img min-vw-100">
    <div class="row title-top">
        <h1 class="offset-sm-3 col-sm-9 col-12">
            Gutenberg Project
        </h1>
    </div>
    <div class="row">
        <p class="offset-sm-3 col-sm-7 col-12 font-weight-bold">
            A social cataloging website that allows you to freely search its database of books, annotations, and reviews.
        </p>
    </div>
    <div class="row mt-sm-5 content-bg">
        <app-genre-card class="col-sm-4 col-12 mt-sm-2 mb-sm-2 mt-3 mb-3"
                        [ngClass]="{'offset-sm-2':i%2 ==0}" 
                        *ngFor="let genre of genres,let i = index" 
                        [genre]="genre"></app-genre-card>
    </div>
</div>
